<table border="1">
	<tr>
		<td rowspan="3">Barangay</td>
		
		<!-- index crimes -->
		<td colspan="13">Index Crimes</td>
		<!-- non index -->
		<td colspan="5">Non-Index Crimes</td>
	</tr>
	<tr>
		<td colspan="5">Against Person</td>
		<td colspan="5">Against POR</td>
		<td colspan="3">TOT</td>
		<td rowspan="2">afsASF</td>
		<td rowspan="2">afsASF</td>
		<td colspan="2">afsASF</td>
	</tr>
	<tr>
		<!-- Agains PErson -->
		<td>asfASF</td>
		<td>asfASF</td>
		<td>asfASF</td>
		<td>asfASF</td>
		<td>asfASF</td>
		<!-- Against POR -->
		<td>PROPERTY</td>
		<td>PROPERTY</td>
		<td>PROPERTY</td>
		<td>PROPERTY</td>
		<td>PROPERTY</td>
		<!-- TOT -->
		<td>TOT</td>
		<td>TOT</td>
		<td>TOT</td>
	</tr>
</table>